@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Componente botón principal */
@layer components {
  .btn-primary {
    @apply w-full bg-primaryLight text-white font-bold py-3 rounded-2xl shadow-md active:scale-95 transition disabled:bg-disabledBg disabled:text-disabledText disabled:opacity-70 disabled:cursor-not-allowed;
  }
}
