Error: Cannot apply unknown utility class `w-10`. Are you using CSS modules or similar and missing `@reference`? https://tailwindcss.com/docs/functions-and-directives#reference-directive
    [at onInvalidCandidate (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:21:1314)]
    [at Te (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:16:36337)]
    [at C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:21:355]
    [at Tr (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:3:1718)]
    [at _ (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:3:1377)]
    [at Se (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:21:172)]
    [at ln (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:38:294)]
    [at process.processTicksAndRejections (node:internal/process/task_queues:95:5)]
    [at async sn (C:\sirvaapp\node_modules\tailwindcss\dist\lib.js:38:631)]
    [at async Zr (C:\sirvaapp\node_modules\@tailwindcss\node\dist\index.js:10:3385)]
 тип ./app/globals.css
Error evaluating Node.js code
CssSyntaxError: tailwindcss: C:\sirvaapp\app\globals.css:1:1: Cannot apply unknown utility class `w-10`. Are you using CSS modules or similar and missing `@reference`? https://tailwindcss.com/docs/functions-and-directives#reference-directive
    [at Input.error (turbopack:///[project]/node_modules/postcss/lib/input.js:135:16)]
    [at Root.error (turbopack:///[project]/node_modules/postcss/lib/node.js:146:32)]
    [at Object.Once (C:\sirvaapp\node_modules\@tailwindcss\postcss\dist\index.js:10:6912)]
    [at process.processTicksAndRejections (node:internal/process/task_queues:95:5)]
    [at async LazyResult.runAsync (turbopack:///[project]/node_modules/postcss/lib/lazy-result.js:293:11)]  
    [at async transform (turbopack:///[turbopack-node]/transforms/postcss.ts:70:34)]
    [at async run (turbopack:///[turbopack-node]/ipc/evaluate.ts:92:23)]

Import trace:
  Client Component Browser:
    ./app/globals.css [Client Component Browser]
    ./app/layout.tsx [Server Component]


 тип ./app/globals.css
Error evaluating Node.js code
CssSyntaxError: tailwindcss: C:\sirvaapp\app\globals.css:1:1: Cannot apply unknown utility class `w-10`. Are you using CSS modules or similar and missing `@reference`? https://tailwindcss.com/docs/functions-and-directives#reference-directive
    [at Input.error (turbopack:///[project]/node_modules/postcss/lib/input.js:135:16)]
    [at Root.error (turbopack:///[project]/node_modules/postcss/lib/node.js:146:32)]
    [at Object.Once (C:\sirvaapp\node_modules\@tailwindcss\postcss\dist\index.js:10:6912)]
    [at process.processTicksAndRejections (node:internal/process/task_queues:95:5)]
    [at async LazyResult.runAsync (turbopack:///[project]/node_modules/postcss/lib/lazy-result.js:293:11)]  
    [at async transform (turbopack:///[turbopack-node]/transforms/postcss.ts:70:34)]
    [at async run (turbopack:///[turbopack-node]/ipc/evaluate.ts:92:23)]

Import trace:
  Client Component Browser:
    ./app/globals.css [Client Component Browser]
    ./app/layout.tsx [Server Component]


 GET /mesa/1/menu 500 in 6.0s (compile: 5.8s, render: 283ms)
 GET /admin 500 in 6.9s (compile: 6.7s, render: 275ms)
